:root {
  --white-font: white;
  --hex-820347: #820347;

}

/* display */
.grid {
  display: grid;

}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* alignment */

.template-columns {
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1rem;
}

.place-center-center {
  place-content: center;
  place-items: center;
}

.text-center {
  text-align: center;
}

/* size */
.pad1rem {
  padding: 1rem;
}

.font2rem {
  font-size: 2rem;
}

.bold {
  font-weight: bold;
}

button > img {
  width: 50%;
}

.height-100vh {
  height: 100vh;
}

.margin-top {
  margin-top: 2%;
}

/* colors */
.font-white {
  color: var(--white-font);
}

.hex-820347 {
  background-color: var(--hex-820347);
}


/* transition */
.transition-transform{
  transition: transform 1s ease-in-out
}

button:hover {
  transform: scale(1.02);
}

/* animation */


.animation {
  animation: rotate 3s ease-in infinite alternate;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(2turn);
  }
}